<h1 mat-dialog-title>Nueva Venta </h1>
<div mat-dialog-content>
   <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input matInput [(ngModel)]= "venta.idCliente" />
    </mat-form-field>
    <form [formGroup]="conceptoForm" (ngSubmit)="addConcepto()">
        <mat-form-field>
            <mat-label>Producto</mat-label>
            <input type="text" formControlName="idProducto" matInput   />
        </mat-form-field>
         <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input type="text" formControlName="cantidad" matInput placeholder="Cantidad" value="1"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Importe</mat-label>
            <input type="text" formControlName="importe" matInput placeholder="Importe" value="50"/>
        </mat-form-field>
        <mat-form-field>
                <mat-label>PrecioUnitario</mat-label>
                <input type="text" formControlName="precioUnitario" matInput placeholder="PrecioUnitario" value="10"/>
            </mat-form-field>
        <div>
            <button type="submit"  mat-raised-button [disabled] ="!conceptoForm.valid">+</button> 
        </div> 
    </form> 
    <div>
    <h5>Conceptos</h5>
        <table style="width:100%">
            <tr>
                <th>Cantidad</th>
                <th>Importe</th>
            </tr>
            <tr *ngFor="let item of conceptos ">
                <td>{{item.cantidad}}</td>
                <td>{{item.importe}}</td>
            </tr>

        </table> 
    </div>
    <div mat-dialog-actions>
            <button mat-raised-button (click) ="close()"  >Cancelar</button>
            <button mat-raised-button (click) ="addVenta()" color="primary">Guardar</button>
    </div> 
</div>
